
h2 {
    color: indianred;
    text-align: center;
}

h1, p {
    text-align: center;
    border: 1px black solid;
    box-shadow: 6px 6px 6px grey;
    background-color: indianred;
    box-sizing: border-box;
}

html {
    background-image: url("website-background-png.png");
    font-family: Caviardreams;
}

@font-face {
    font-family: 'Caviardreams';
    src: url('Caviardreams.eot');
    src: url('Caviardreams.eot?#iefix') format('embedded-opentype'),
        url('Caviardreams.woff') format('woff'),
        url('Caviardreams.ttf') format('truetype'),
        url('Caviardreams.svg#Caviardreamsregular') format('svg');
}

ul {
    background-color: rosybrown;
}

h2 {
    background-color: white;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#conteneur {
    display: flex;
    justify-content: space-around;
}

#experiences {
    width: 33%;
}

#formation {
    width: 33%;
}
#competences {
    width: 33%;
}

#sidebar {
    width: 5%;
    height: 950px;
    float: left;
    background-color: grey;
    border: 1px black solid;
}

@media screen and (max-width: 1024px){

   #bloc_page{
       width: auto;
   } 

   #conteneur {
        flex-direction: column;
   }

   #sidebar{
        display: none;
   }
}