html {
    font-family: 'OpenSans';
}

@font-face {
    font-family: 'OpenSans';
    src: url('web fonts/OpenSans-CondLight-webfont.eot');
    src: url('web fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
        url('web fonts/OpenSans-CondLight-webfont.woff') format('woff'),
        url('web fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
        url('OpenSans-CondLight-webfont.svg') format('svg');
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: large;
}