/*Page entiere*/

html
{
    font-family: 'OpenSans';
    background-color: black;
}

@font-face
{
    font-family: 'OpenSans';
    src: url('web fonts/OpenSans-CondLight-webfont.eot');
    src: url('web fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
        url('web fonts/OpenSans-CondLight-webfont.woff') format('woff'),
        url('web fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
        url('OpenSans-CondLight-webfont.svg') format('svg');
}

/*Main droit*/

aside
{
    display: block;
    background-color: #0097A7;
    float: left;
    width: 15%;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
}

/*Main Gauche*/

.principal
{
    display: block;
    float: right;
    width: 45%;
    height: 100%;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
}

/*flexbox gauche*/

#conteneur
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.element:nth-child(3)
{
    flex: 2;
}


/*Image*/

img
{
    border: 3px #00796B solid;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 /*titres*/

h1
{
    font-size:4em;
}

h2
{
    font-size: 2em;
}

.titre_droite
{
    background-color: #424242;
    width: 100%;
    color: #0097A7;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*paragraphes*/

li
{
    font-size: 1em;
}

.pleft
{
    font-size: 1.2em;
    padding-right: 10%;
    padding-left: 10%;
}

.rightp
{
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 0 300px;
}

/*bordures*/
 
hr
{
     border: solid 1px #0097A7;
}


/*Icônes*/

i
{
    display: block;
    color: #00BFA5;
    background-color: 
    black;
    font-size: 40px;
    border: 10px solid black;
    border-radius: 50%;
}

#fa-stack
{
    display: flex;
    justify-content: space-around;
}

body
{
    display: flex;
    justify-content: center;
    height: 100;
}