html {
    font-family: 'OpenSans';
}

@font-face {
    font-family: 'OpenSans';
    src: url('web fonts/OpenSans-CondLight-webfont.eot');
    src: url('web fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
        url('web fonts/OpenSans-CondLight-webfont.woff') format('woff'),
        url('web fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
        url('OpenSans-CondLight-webfont.svg') format('svg');
}

aside {
    background-color: #0097A7;
    float: left;
    width: 15%;
    height: 100%;
}

div, section {
    float: right;
    width: 85%;
    height: 100%;
}

img{
    border: 1px black solid;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#conteneur {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media screen and (max-width:1024px)